@model MoldeMVC_Core.Models.CatalogoMateria

@{
    ViewData["Title"] = "Detalle Materia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle Materia</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre Materia</dt>
        <dd class="col-sm-10">@Model?.NombreMateria</dd>

        <dt class="col-sm-2">Carrera</dt>
        <dd class="col-sm-10">@Model?.Carrera?.NombreCarrera</dd>

        <dt class="col-sm-2">Departamento</dt>
        <dd class="col-sm-10">@Model?.Departamento?.NombreDepartamento</dd>

        <dt class="col-sm-2">Nivel</dt>
        <dd class="col-sm-10">@Model?.Nivel?.NivelDescrip</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MateriaId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
