@model MoldeMVC_Core.Models.Estudiante

@{
    ViewData["Title"] = "Detalle Estudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle Estudiante</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model?.Personal?.NombrePersona @Model?.Personal?.ApellidoPersona</dd>

        <dt class="col-sm-2">Carrera</dt>
        <dd class="col-sm-10">@Model?.Carrera?.NombreCarrera</dd>

        <dt class="col-sm-2">Nivel Actual</dt>
        <dd class="col-sm-10">@Model?.NivelActualEstNavigation?.NivelDescrip</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EstudianteId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
