@model MoldeMVC_Core.Models.Carrera

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Carrera</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarreraId" />
            <div class="form-group">
                <label asp-for="NombreCarrera" class="control-label"></label>
                <input asp-for="NombreCarrera" class="form-control" />
                <span asp-validation-for="NombreCarrera" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantSemestres" class="control-label"></label>
                <input asp-for="CantSemestres" class="form-control" />
                <span asp-validation-for="CantSemestres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
