@model MoldeMVC_Core.Models.Profesor

@{
    ViewData["Title"] = "Detalle Profesor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle Profesor</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model?.Personal?.NombrePersona @Model?.Personal?.ApellidoPersona</dd>

        <dt class="col-sm-2">Departamento</dt>
        <dd class="col-sm-10">@Model?.Departamento?.NombreDepartamento</dd>

        <dt class="col-sm-2">Sueldo</dt>
        <dd class="col-sm-10">@Model?.SueldoProfesor</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProfesorId">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
